<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% end %>
  <br>
  <span class="star_image" onclick="favorites(this)" id="<%= micropost.id%>">
      <%= javascript_tag do %>
            window.user_id = "<%= current_user.id %>";
      <% end %>

      <% if micropost.favorites.where(:user_id => current_user.id).first.nil? %>
            <%= image_tag("star-off.png",height: "17",width: "18", alt: "Favorites", id: "off_img") %>
      <% else %>
            <%= image_tag("star-on.png",height: "17",width: "18", alt: "Favorites", id: "on_img") %>
      <% end %>

      <span id="<%= micropost.id%>-count" align="left">
        <%= micropost.favorite_count %>
      </span>
  </span>
</li>