<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% end %>
  <br>
  <span class="star_image" onclick="favorites(this)" id="<%= micropost.id%>">
      <%= javascript_tag do %>
            window.user_id = "<%= micropost.user_id %>";
      <% end %>
      <span id="<%= micropost.user.id %>"></span>
      <span class="over-img" title="Favorites">
        <%= image_tag("star-off.png",height: "17",width: "18", alt: "Favorites") %>
      </span>
      <span class="over-img" title="Favorites" style="display: none">
        <%= image_tag("star-on.png",height: "17",width: "18", alt: "Favorites") %>
      </span>
      <span id="<%= micropost.id%>-count" align="left">
        <%= micropost.favorite_count %>
      </span>
  </span>
</li>